body { font-family: 'Lato', sans-serif; font-weight: 400; font-size: 16px; background-color: none; }

.wrapper { width: 100%; max-width: 1170px; margin: 0 auto; }

.header { padding-bottom: 212px; background-image: url(../images/promo_bg.png); background-size: cover; }

.center { text-align: center; }

.uppernav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 12px; padding-bottom: 7px; }

.info { display: -webkit-box; display: -ms-flexbox; display: flex; padding-left: 0px; list-style-type: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.info-item, .info-link { color: rgba(255, 255, 255, 0.3); font-size: 14px; }

.info-item:hover, .info-link:hover { color: #30a3f0; }

.info-link { text-decoration: none; }

.info-link svg { margin-right: 8px; color: #30a3f0; }

.info-right .info-item { margin-right: 28px; }

.register:before { content: '/'; margin-right: 6px; color: #444; }

.info-left .info-item { margin-left: 6px; }

.main-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 25px 30px 25px 40px; margin-bottom: 220px; background-color: #fff; }

.nav { display: -webkit-box; display: -ms-flexbox; display: flex; padding-left: 0; list-style-type: none; }

.nav-btn { background-color: transparent; border: none; padding: 0; cursor: pointer; }

.nav-btn svg { color: #444444; }

.nav-btn svg:hover { color: #30a3f0; }

.nav-item { margin-left: 8px; }

.nav-item-btn { margin: 0 11px; }

.nav-link { color: #444444; text-decoration: none; padding: 11px 19px; border: 1px solid transparent; }

.nav-link:hover { color: #30a3f0; border: 1px solid; border-radius: 5px; }

.title { margin-bottom: 60px; }

.title::before { content: ''; display: block; margin: 0 auto; width: 1px; height: 100px; background-color: #2b88c7; }

.title::after {content: '';display: block;margin: 0 auto;width: 1px;height: 100px;background-color: #2b88c7;}

.title p {margin-top: 26px;margin-bottom: 6px;font-family: 'Raleway', sans-serif;color: #30a3f0;text-transform: capitalize;font-size: 18px;}

.title h1 { max-width: 720px; margin: 0 auto 16px; font-family: 'Raleway', sans-serif; color: #ffffff; text-transform: uppercase; font-size: 45px; font-weight: 800; line-height: 60px; }

.btn { font-weight: 700; color: #30a3f0; text-transform: uppercase; font-size: 14px; text-decoration: none; padding: 20px 42px; border: 1px solid #30a3f0; border-radius: 5px; -webkit-transition: background-color 0.5s linear, color 0.5s ease; transition: background-color 0.5s linear, color 0.5s ease; }

.btn:hover { background-color: #30a3f0; color: #ffffff; border: 1px solid #ffffff; border-radius: 5px; }

.page-line { border-bottom: 1px solid #e4e4e4; }

.box { display: -webkit-box; display: -ms-flexbox; display: flex; border-left: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4; }

.box-item { -ms-flex-preferred-size: 33.333%; flex-basis: 33.333%; padding: 92px 52px 90px; }

.box-item-center { border-left: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4; }

.box-item h2 { font-family: 'Raleway', sans-serif; font-weight: 600; font-size: 20px; }

.box-item p { color: rgba(68, 68, 68, 0.5); line-height: 25px; }

.box-icon { width: 152px; height: 152px; font-size: 30px; color: #222222; line-height: 5; background-image: url(../images/rhombus_gray.png); background-position: center center; background-repeat: no-repeat; margin: 0 auto 23px; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.box-item:hover .box-icon { background-image: url(../images/rhombus_blue.png); font-size: 40px; color: #ffffff; line-height: 3.8; }

.intro { position: relative; margin: 0 auto; margin-top: 98px; padding-bottom: 116px; }

.intro-text { max-width: 530px; }

.intro h2 { margin-bottom: 10px; }

.intro .title-h2 span { margin-bottom: 13px; }

.intro .title-h2 { margin-bottom: 13px; }

.title-h2 { margin: 0 auto; margin-bottom: 14px; font-family: 'Raleway', sans-serif; font-size: 30px; font-weight: 800; text-transform: uppercase; }

.title-h2 span { display: block; font-size: 16px; font-weight: 400; color: #30a3f0; text-transform: capitalize; margin-bottom: 18px; }

.line { display: block; width: 52px; height: 14px; background-image: url(../images/line.svg); background-repeat: no-repeat; }

.description { margin-top: 32px; color: #707070; line-height: 26px; margin-bottom: 0; }

.list-description { color: #222222; padding-left: 0; margin: 29px 0 54px; list-style-type: none; }

.list-description > li { margin-bottom: 22px; color: #222222; padding-left: 37px; position: relative; }

.list-description > li::before { content: ''; display: block; position: absolute; width: 16px; height: 14px; background-image: url(../images/check.png); background-repeat: no-repeat; left: 0; top: calc( 50% - 7px); }

.btn-blue { font-size: 14px; font-weight: 700; text-transform: uppercase; text-decoration: none; color: #ffffff; background-color: #30a3f0; border: 1px solid #30a3f0; padding: 15px 43px; border-radius: 5px; -webkit-transition: background-color 0.5s linear, color 0.5s ease; transition: background-color 0.5s linear, color 0.5s ease; }

.btn-blue:hover { color: #30a3f0; background-color: #ffffff; border: 1px solid #30a3f0; }

.mockup-img { display: block; width: 625px; height: 557px; background-image: url(../images/mockup.png); background-size: contain; background-repeat: no-repeat; position: absolute; right: -82px; bottom: 0; }

.gray { background-color: #fafafa; }

.gray, .team, .blog {padding-top: 95px;padding-bottom: 56px;}

.gray .title-h2, .team .title-h2, .blog .title-h2 { margin-bottom: 7px; }

.gray .title-h2 span, .team .title-h2 span, .blog .title-h2 span { margin-bottom: 14px; }

.gray .line-double, .team .line-double, .blog .line-double {display: block;margin: 0 auto 23px;width: 91px;height: 14px;background-image: url(../images/line_double.svg);background-repeat: no-repeat;}

.gray .description, .team .description, .blog .description {max-width: 690px;margin: 0 auto;}

.photo { display: -webkit-box; display: -ms-flexbox; display: flex; }

.photo-item { overflow: hidden; -ms-flex-preferred-size: 20%; flex-basis: 20%; height: 350px; position: relative; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.photo-item:hover { background-color: rgba(34, 34, 34, 0.8); }

.photo-item:hover .photo-text { display: block; }

.photo-item:hover .photo-btn { z-index: 1; }

.photo-btn { display: -webkit-box; display: -ms-flexbox; display: flex; width: 120px; height: 60px; position: absolute; bottom: 0; right: 0; z-index: -2; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.photo-btn a { display: block; width: 60px; height: 60px; background-color: #30a3f0; font-size: 16 [x]; color: #ffffff; padding: 22px 22px; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.photo-btn a:hover { background-color: #ffffff; color: #30a3f0; }

.photo-item img { width: 100%; height: 350px; position: absolute; top: 50%; left: 50%; -o-object-fit: cover; object-fit: cover; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: -1; }

.photo-text { display: none; position: absolute; width: 100%; text-align: center; top: calc( 50% - 30px); }

.photo-text h3 { font-family: 'Raleway', sans-serif; font-size: 22px; font-weight: 700; text-transform: uppercase; color: #ffffff; margin-top: 0; margin-bottom: 14px; }

.photo-text p { margin-bottom: 0; color: #707070; }

.feature { margin: 117px auto 118px; display: -ms-grid; display: grid; -ms-grid-rows: 1fr 1fr 1fr; -ms-grid-columns: 1fr 1fr 1fr; grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr; grid-gap: 99px 28px; }

.feature-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 1px solid transparent; border-radius: 5px; }

.feature-item:hover .feature-item-icon { background-image: url(../images/rhombus_blue_min.png); color: #ffffff; }

.feature-item:hover { border: 1px solid #30a3f0; }

.feature-item h3 { font-family: 'Raleway', sans-serif; font-size: 18px; font-weight: 600; margin-top: 5px; margin-bottom: 9px; }

.feature-item p { margin-top: 0; }

.feature-item-icon { font-size: 24px; color: #c9c9c9; text-align: center; line-height: 4; width: 95px; height: 95px; background-size: 95px 95px; -ms-flex-preferred-size: 95px; flex-basis: 95px; margin: auto 0 auto 5px; }

.feature-item-text { -ms-flex-preferred-size: calc( 100% - 125px); flex-basis: calc( 100% - 125px); }

.tour-bg {max-height: 670px;background-image: url(../images/middle_bg.png);background-size: cover;padding-top: 110px;padding-bottom: 130px;}

.tour-bg .title { margin-bottom: 0; }

.tour-bg .title h1 {margin-bottom: 40px;}

.tour-bg .center > p {margin-bottom: 31px;}

.team { max-height: 1000px; padding-top: 100px; padding-bottom: 104px; background-color: #fff; }

.team-photo {margin-top: 55px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}

.team-photo-item { -ms-flex-preferred-size: 31%; flex-basis: 31%; }

.team-photo-item-member { position: relative; width: 370px; height: 370px; margin-bottom: 40px; }

.team-photo-item-member .blank { width: 370px; height: 370px; position: absolute; top: 0; left: 0; background-color: rgba(255, 255, 255, 0.5); overflow: hidden; z-index: 2; }

.team-photo-item-member .face { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -o-object-fit: cover; object-fit: cover; z-index: 1; }

.team-photo-item-position {margin: 0;margin-bottom: 12px;font-size: 14px;color: #30a3f0;}

.team-photo-item-name {FONT-WEIGHT: 600;margin: 0;margin-bottom: 11px;font-family: 'Raleway', sans-serif;font-weight: 600;color: #222222;letter-spacing: 2px;}

.team-photo-item-social { display: -webkit-box; display: -ms-flexbox; display: flex; list-style-type: none; padding-left: 0; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.team-photo-item-social-icon { margin: 0 5px; }

.team-photo-item-social-icon > a { display: block; color: #c9c9c9; text-decoration: none; font-size: 14px; text-align: center; line-height: 3; background-image: url(../images/rhombus_gray_min.png); background-size: 40px 40px; background-position: center center; background-repeat: no-repeat; width: 40px; height: 40px; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.team-photo-item-social a:hover { color: #ffffff; background-image: url(../images/rhombus_blue_min.png); }

.team-photo-item:hover .blank { z-index: 0; }

.mockup { padding-bottom: 0; }

.mockup .screens { margin-top: 58px; }

.stat { min-height: 400px; background-color: #111111; color: #ffffff; }

.stat-box {display: -webkit-box;display: -ms-flexbox;display: flex;padding: 96px 74px 0 74px;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;font-size: 60px;color: #30a3f0;}

.stat-box-item { text-align: center; }

.stat-box h3 {margin: 0;margin-top: 30px;font-size: 50px;font-weight: 700;}

.stat-box h3 span {margin-bottom: 18px;display: block;font-size: 16px;font-weight: 400;color: #707070;}

.blog {padding: 91px 0;}

.blog .description { margin-bottom: 58px; }

.blog-grid { display: -ms-grid; display: grid; -ms-grid-rows: 1fr 1fr; -ms-grid-columns: 1fr 1fr; grid-template: 1fr 1fr / 1fr 1fr; grid-gap: 30px; margin: 0 auto; }

.blog-grid-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: cover; -ms-flex-align: cover; align-items: cover; height: 100%; }

.blog-grid-item:hover .blog-thumb { background-color: rgba(1, 1, 1, 0.7); }

.blog-grid-item:hover .blog-thumb .blog-eye { z-index: 3; }

.blog-grid-item .blog-thumb { position: relative; width: 285px; -ms-flex-preferred-size: 285px; flex-basis: 285px; overflow: hidden; }

.blog-grid-item .blog-thumb::after { content: ''; display: block; position: absolute; top: 39px; right: 0; background-image: url(../images/blog-triangle.png); width: 21px; height: 42px; }

.blog-grid-item .blog-thumb .blog-eye { position: absolute; top: 144px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); z-index: -1; color: #ffffff; font-size: 30px; }

.blog-grid-item .blog-thumb .blog-share { position: absolute; left: 78px; bottom: 23px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 130px; height: 30px; }

.blog-grid-item .blog-thumb .blog-share button i { font-size: 12px; }

.blog-grid-item .blog-thumb .blog-share button span { font-size: 14px; margin-left: 5px; }

.blog-grid-item .blog-thumb .blog-share .blog-btn-comment { color: #ffffff; font-size: 14px; font-weight: 700; text-decoration: none; padding: 8px 11px 8px; background-color: #30a3f0; border: 1px solid #30a3f0; border-radius: 5px; cursor: pointer; }

.blog-grid-item .blog-thumb .blog-share .blog-btn-like { color: #30a3f0; font-size: 14px; font-weight: 700; text-decoration: none; padding: 8px 11px 8px; background-color: #ffffff; border: 1px solid #ffffff; border-radius: 5px; cursor: pointer; }

.blog-grid-item .blog-thumb img { width: 285px; height: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -o-object-fit: cover; object-fit: cover; z-index: -1; }

.blog-grid-item .blog-text { background-color: #fafafa; padding: 46px 38px 50px; margin: 0; -ms-flex-preferred-size: 209px; flex-basis: 209px; }

.blog-grid-item .blog-text > h3 { font-family: 'Raleway', sans-serif; font-size: 18px; font-weight: 600; margin: 0; }

.blog-grid-item .blog-text ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; list-style: none; text-transform: uppercase; font-size: 12px; color: #444444; padding: 0; margin: 0; margin-top: 11px; }

.blog-grid-item .blog-text ul > li:first-child { padding-right: 13px; margin-right: 14px; border-right: 1px solid #707070; }

.blog-grid-item .blog-text > p { margin: 0; margin-top: 30px; margin-bottom: 26px; color: #444444; line-height: 26px; }

.blog-grid-item .blog-text > a { text-decoration: none; font-size: 14px; color: #30a3f0; -webkit-transform: translateY(9px); transform: translateY(9px); }

.blog-grid-item .blog-text > a span { margin-right: 10px; }

.company { background-color: #fdfdfd; padding: 100px 0px 100px 0px; }

.company-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.company-item { background-image: url(../images/company.png); background-repeat: no-repeat; height: 93px; }

.company-one { width: 126px; -ms-flex-preferred-size: 126px; flex-basis: 126px; background-position: -14px center; }

.company-two { width: 126px; -ms-flex-preferred-size: 126px; flex-basis: 126px; background-position: -214px center; }

.company-three { width: 126px; -ms-flex-preferred-size: 126px; flex-basis: 126px; background-position: -414px center; }

.company-four { width: 126px; -ms-flex-preferred-size: 126px; flex-basis: 126px; background-position: -614px center; }

.company-five { width: 126px; -ms-flex-preferred-size: 126px; flex-basis: 126px; background-position: -814px center; }

.company-six { width: 126px; -ms-flex-preferred-size: 126px; flex-basis: 126px; background-position: -1014px center; }

.footer { background-color: #151515; }

.footer-btn { display: block; width: 46px; height: 34px; margin: 0 auto; background-color: #1a1a1a; font-size: 26px; color: #707070; border: none; cursor: pointer; }

.footer-btn:hover { background-color: #707070; color: #30a3f0; }

.footer-btn:focus { outline: none; }

.footer-bg { background-color: #1a1a1a; padding: 32px 0px 32px 0px; }

.footer-bg-text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 14px; color: rgba(255, 255, 255, 0.3); }

.footer-bg-text p { margin: 0; }

.footer-bg-text .footer-list { display: -webkit-box; display: -ms-flexbox; display: flex; list-style-type: none; padding-left: 0; margin: 0; }

.footer-bg-text .footer-list > li { padding-right: 24px; margin-left: 22px; border-right: 1px solid #3a3a3a; }

.footer-bg-text .footer-list > li:last-child { padding-right: 0; border: none; }

.footer-bg-text .footer-list > li > a { text-decoration: none; color: rgba(255, 255, 255, 0.3); }

.footer-bg-text .footer-list > li > a:hover { color: #30a3f0; }